header {
    width: 100%;
    height: 4em;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-around;
}