<section>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">

        <label for="name">Name</label>
        <input type="text" formControlName="name" id="name" name="name">

        <small *ngIf="(name.errors?.pattern || name.errors?.required) && name?.dirty">Input your first and last name. Make sure they start with capital letters!</small>


        <label for="username">Username</label>
        <input type="text" formControlName="username" name="username" id="username">

        <small *ngIf="(username.errors?.required || username.errors?.minlength || username.errors?.maxlength) && username?.dirty">invalid username</small>


        <label for="email">Email</label>
        <input type="email" formControlName="email" id="email" name="email">

        <small *ngIf="(email.errors?.email || email.errors?.required) && email?.dirty">invalid email</small>


        <label for="password">Password</label>
        <input type="password" formControlName="password" name="password" id="password">

        <small *ngIf="password?.dirty && (password.errors?.required || password.errors?.minlength || password.errors?.maxlength)">invalid password</small>


        <label for="ageGroup">Age group</label>
        <select name="ageGroup" id="ageGroup" formControlName="ageGroup">
            <option *ngFor="let group of agegroups" [value]="group">{{group}}</option>
        </select>

        <small *ngIf="ageGroup?.touched &&  ageGroup.errors?.required">please select an age group!</small>


        <button [disabled]="userForm.invalid" type="submit">Submit</button>

    </form>

</section>